.bg-dark-transparent{
    background-color: rgba(47, 46, 46, 0.2);
    transition: 1s all;
}
.bg-white{
    background-color: rgb(255, 255, 255);
    transition: 1s all;
}
.hide{
    opacity: 0;
    visibility: hidden;
    margin-top: -45px !important;
    transition: 1s all;
    display: none;
}
.show{
    opacity: 1;
    visibility: visible;
    display: block;
    transition: 1s all;
}
.border-top-1{
    border-top: 1px solid #fff;
    transition: 1s all;
}

.sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    transition: .7s all;
    /* margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center!important; */
    padding-top: 0px;
    
}

#buttonNav > .booking {
    width: 135px;
}

#buttonNav > .booking:hover {
    color: #fff !important;
}

#buttonNav{
    margin-top: -10px;
    /* margin-top: -30px;
    margin-right: 63px; */
    
}

#buttonsearch{
    padding-right: 85px;
    position: relative;
    margin-top: -10px;
}

#buttonNav > a{
    color: transparent;
    border: 2px solid transparent;
}

#searchbutton > div > i {
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
}

#buttonsearch > div > i {
    color: transparent;
    font-size: 18px;
    font-style: normal;
}

#buttonsearch > div > input {
    color:  #ffffff;
}
#buttonsearch > div > input:hover {
    border-bottom: 1px solid #C4964B;
}
#buttonsearch > div > input::placeholder {
    color: transparent;
}

@media screen and (max-width: 1920px) {
    #buttonsearch {
        padding-right: 0px;
        position: relative;
        padding-left: px;
    }
    #buttonNav{
        padding-left: 46px;         
    }
    
}

@media screen and (max-width: 1440px) {
    #buttonsearch {
        padding-right: 0px;
        position: relative;
        padding-left: 0px;
    }
    #buttonNav{
        padding-left: 46px;         
    }
    
}

@media screen and (max-width: 1366px) {
    #buttonsearch {
        padding-right: 0px;
        position: relative;
        padding-left: 20px;
    }
    #buttonNav{
        padding-left: 25px;         
    }
}

@media screen and (max-width: 1280px) {
    #buttonsearch {
        padding-right: 0px;
        position: relative;
        padding-left: 0px;
    }
    #buttonNav{
        padding-left: 0px;         
    }
    #buttonsearch > div > input {
        color: #C4964B;
        width: 100px;
    }
}

@media screen and (max-width: 1152px) {
    .sticky #buttonsearch {
        padding-right: 0px;
        position: relative;
        padding-left: 10px;
    }
    .sticky #buttonNav{
        padding-left: 20px;         
    }

    .sticky .justify-content-center > .nav-item > a {
        padding: 11px 25px;
    }
    #buttonsearch > div > input {
        color: #C4964B;
        width: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .sticky #buttonsearch {
        padding-right:0px;
        position: relative;
        padding-left: 0px;
    }
    .sticky #buttonNav{
        padding-left: 10px;         
    }

    .sticky .justify-content-center > .nav-item > a {
        padding: 11px 15px;
    }

}