
#card-img-top-down ul.slick-dots {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#card-img-top-down ul.slick-dots li {
    margin: 0;
    padding: 0;
}

#card-img-top-down ul.slick-dots li.slick-active {
    margin-right: 16px;
}

#card-img-top-down #dots {
    border-radius: 8px;
    width: 12px;
    margin: 4px;
    height: 12px; 
    opacity: 0.25;
    background-color: #5A5A5A; 
}

#card-img-top-down .slick-active #dots {
    opacity: 1;
    width: 32px;
    margin: 4px;
}