.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Verlag B';
  font-style: bold;
  font-weight: bold;
  src: url('./Assets/Font/Verlag/Verlag-Bold.ttf');
}

@font-face {
  font-family: 'Miller Display SB';
  font-style: bold;
  font-weight: bold;
  src: url('./Assets/Font/MillerDisplay/MillerDisplay-Bold.otf');
}

@font-face {
  font-family: 'Ideal Sans N';
  font-style: normal;
  src: url('./Assets/Font/IdealSans/IdealSans-Black-Pro.otf');
}

h1{
  font-family: "Miller Display SB";
  font-size: 34px;
}

h2{
  font-family: "Miller Display SB";
  font-size: 22px;
}

h3{
  font-family: "Miller Display SB";
  font-size: 17px;
}

h4{
  font-family: "Miller Display SB";
  font-size: 15px;
}

h5{
  font-family: "Verlag B";
  font-size: 14px;
}

h6{
  font-family: "Verlag B";
  font-size: 11px;
}

body{

}
